a{
  text-decoration: none; 
}

button {
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: none;
  cursor: pointer;
  transition: border-color 0.25s;

}

button:focus,
button:focus-visible {
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    outline: none;
    text-decoration: none;
  }

  button:focus,
  button:focus-visible {
    outline: none;
  }
}
